# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Folders
.vs
*.pdb
*.ilk
*.idb
*.sln
*.vcxproj
*.filters
*.user

# Build folders
GloryEngine/bin/
GloryEngine/Build/
GloryEngine/Engine/**/Debug
GloryEngine/Editor/**/Debug
GloryEngine/Scripting/**/Debug
GloryEngine/Engine/**/Release
GloryEngine/Editor/**/Release
GloryEngine/Scripting/**/Release

# Generated editor files

Projects.list

# Demo projects
Cache
Library
Project.lock
*.csproj
