# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Folders
.vs
*.pdb
*.ilk
*.idb
GloryEngine/GloryCore/Debug/
GloryEngine/GlorySDLWindow/Debug/
GloryEngine/GloryMain/Debug/
GloryCore/Debug/
GloryEngine/GloryVulkanGraphics/Debug/
GloryEngine/GlorySDLImage/Debug/Win32/
GloryEngine/bin/Engine/
GloryEngine/Debug/
GloryEngine/GloryBasicRenderer/Debug/
GloryEngine/GloryASSIMPModelLoader/Debug/
