# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Folders
.vs
*.pdb
*.ilk
*.idb
*.sln
*.vcxproj
*.filters
*.user

# Build folders
GloryEngine/bin/
GloryEngine/Build/
GloryEngine/Engine/**/Debug
GloryEngine/Modules/**/Debug
GloryEngine/Editor/**/Debug
GloryEngine/Scripting/**/Debug
GloryEngine/Engine/**/Release
GloryEngine/Modules/**/Release
GloryEngine/Editor/**/Release
GloryEngine/Scripting/**/Release

!GloryEngine/Engine/**/Data/Debug
!GloryEngine/Engine/**/Data/Release

# Generated editor files

Projects.list

# Demo projects
Cache
Library
Project.lock
*.csproj
*.aps
GloryEngine/submodules/includes
GloryEngine/Dependencies
GloryEngine/third-party/glew-2.2.0/Win32
GloryEngine/third-party/glew-2.2.0/x64/x64
GloryEngine/third-party/glew-2.2.0/x64

GloryEngine/third-party/tinyfiledialogs/Debug
GloryEngine/third-party/tinyfiledialogs/Release
GloryEngine/Editor/WriteVersion/Patchnotes
GloryEngine/Editor/WriteVersion/version.txt
GloryEngine/Utils/**/Debug
GloryEngine/Utils/**/Release
Logs
