[submodule "GloryEngine/submodules/assimp"]
	path = GloryEngine/submodules/assimp
	url = https://github.com/assimp/assimp
[submodule "GloryEngine/submodules/ImGui"]
	path = GloryEngine/submodules/ImGui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "GloryEngine/submodules/yaml-cpp"]
	path = GloryEngine/submodules/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "GloryEngine/submodules/implot"]
	path = GloryEngine/submodules/implot
	url = https://github.com/epezent/implot.git
[submodule "GloryEngine/submodules/ImGuizmo"]
	path = GloryEngine/submodules/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "GloryEngine/submodules/ImFileDialog"]
	path = GloryEngine/submodules/ImFileDialog
	url = https://github.com/TheMadDodger/ImFileDialog
