[submodule "GloryEngine/submodules/assimp"]
	path = GloryEngine/submodules/assimp
	url = https://github.com/assimp/assimp
[submodule "GloryEngine/submodules/ImGui"]
	path = GloryEngine/submodules/ImGui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "GloryEngine/submodules/yaml-cpp"]
	path = GloryEngine/submodules/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "GloryEngine/submodules/implot"]
	path = GloryEngine/submodules/implot
	url = https://github.com/epezent/implot.git
[submodule "GloryEngine/submodules/ImGuizmo"]
	path = GloryEngine/submodules/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "GloryEngine/submodules/SDL_image"]
	path = GloryEngine/submodules/SDL_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "GloryEngine/submodules/SDL"]
	path = GloryEngine/submodules/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "GloryEngine/submodules/glm"]
	path = GloryEngine/submodules/glm
	url = https://github.com/g-truc/glm
[submodule "GloryEngine/submodules/shaderc"]
	path = GloryEngine/submodules/shaderc
	url = https://github.com/google/shaderc
[submodule "GloryEngine/submodules/SPIRV-tools"]
	path = GloryEngine/submodules/SPIRV-tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "GloryEngine/submodules/SPIRV-Cross"]
	path = GloryEngine/submodules/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "GloryEngine/submodules/JoltPhysics"]
	path = GloryEngine/submodules/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics
[submodule "GloryEngine/submodules/curl"]
	path = GloryEngine/submodules/curl
	url = https://github.com/curl/curl
[submodule "GloryEngine/submodules/rapidjson"]
	path = GloryEngine/submodules/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "GloryEngine/submodules/efsw"]
	path = GloryEngine/submodules/efsw
	url = https://github.com/SpartanJ/efsw
